# Ren'Py 编译与运行时
*.rpyc
*.rpymc
*.rpa
game/cache/
game/saves/
log.txt
traceback.txt

# 构建与签名（不要进库）
dist/
*.apk
*.aab
*.exe
*.keystore
android.keystore
bundle.keystore

# 本地与系统
.idea/
*.log
__pycache__/
Thumbs.db
Desktop.ini
.DS_Store
